.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.flex-item {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

#titleContainer {
    padding-top: 60px;
}