body {
    font-family: 'Bellefair', serif;
    color: #333A56;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 120px;
}

.flex-item {
    text-align: center;
    padding: 20px;
    background-color: #F7F5E6;
}

#forecastContainer {
    font-size: 20px;
}